{#
/**
 * @file
 * Default theme implementation to display password form.
 *
 * Available variables:
 * - help_text: The help text from the formatter settings, can contain HTML.
 * - hint: The hint text from the field value.
 * - form: The password form.
 *
 * @see template_preprocess_entity_access_password_form()
 *
 * @ingroup themeable
 */
#}
{{ help_text }}

{% if hint is not empty %}
  <p>{{ 'Hint:'|t }} {{ hint }}</p>
{% endif %}

{{ form }}
